In [6]:
# Atualização do WebDrive for Chrome de forma automatica
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

# Componentes webdriver para selecionar os elementos em (find_elements(By.))
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

# Caso necessário utilizar o time.sleep
import time

# Tratamento de dados
import pandas as pd
import numpy as np

In [2]:
# Cria a instância do Chrome e exibe a tela
servico = Service(ChromeDriverManager().install())
nav = webdriver.Chrome(service=servico)

In [3]:
# Acessar o site AASP:
site = 'https://www.aasp.org.br/suporte-profissional/indices-economicos/mensal/dolar/'
nav.get(site)

In [5]:
# Acessar os dados de histórico do dólar:
hist_dolar = nav.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div/figure').text
print(hist_dolar)

Ano/Mês Janeiro Fevereiro Março Abril Maio Junho Julho Agosto Setembro Outubro Novembro Dezembro
2023 5,3183 5,1146 5,2243 5,2981 4,9455
2022 5,7127 5,5349 5,1881 5,1314 4,7158 5,1075 5,1119 5,4014 5,0925 5,2211 5,2824 5,3013
2021 5,0968 5,2714 5,3815 5,6296 5,6234 5,2701 5,0874 5,1000 5,2474 5,2576 5,4510 5,4199
2020 4,0949 4,1622 4,3163 4,7362 5,2579 5,8229 5,1883 5,3491 5,3852 5,2728 5,6172 5,4854
2019 3,909 3,7049 3,7155 3,8344 3,8730 4,0031 3,8813 3,7463 4,0188 4,0616 4,1488 4,1831
2018 3,3182 3,1963 3,2208 3,2859 3,4105 3,6753 3,7738 3,8745 3,9134 4,1879 3,7332 3,7924
2017 3,3830 3,2034 3,0779 3,1629 3,1269 3,1011 3,2836 3,1899 3,1976 3,1255 3,1572 3,2834
2016 3,8711 3,9885 3,7116 3,5276 3,5041 3,4768 3,2656 3,1672 3,3326 3,1864 3,4446 3,3830
2015 2,6122 2,8392 3,2264 3,0681 2,9894 3,1036 3,1532 3,4761 3,8599 3,8344 3,8023 3,8703
2014 2,3470 2,3924 2,3638 2,2257 2,2166 2,2347 2,2195 2,2690 2,3401 2,4316 2,6136 2,6717
2013 2,0374 1,9600 1,9749 1,9790 2,0233 2,1367 2,2548 2,3434 2,2785 2,1818 2,3289 2,3354
2012 1,7853 1,7158 1,8006 1,8364 1,9947 2,0443 2,0338 2,0234 2,0139 2,0382 2,0629 2,0840
2011 1,6843 1,6682 1,6692 1,5776 1,6328 1,5960 1,5743 1,5956 1,7106 1,7376 1,7649 1,8609
2010 1,7711 1,8670 1,7644 1,7483 1,7967 1,7971 1,7690 1,7716 1,7169 1,6604 1,7198 1,6988
2009 2,3803 2,2680 2,3012 2,1992 2,0762 1,9458 1,9420 1,8385 1,8087 1,7037 1,7290 1,7557
2008 1,7450 1,7541 1,6947 1,6822 1,6601 1,6368 1,5910 1,6389 1,8125 2,1551 2,2800 2,3690
2007 2,1407 2,0896 2,0909 2,0231 1,9922 1,9097 1,8684 2,0043 1,9031 1,8078 1,7378 1,7959
2006 2,2747 2,1375 2,1215 2,1426 2,1774 2,2845 2,2130 2.1480 2,1540 2,1419 2,1537 2,1470
2005 2,7074 2,5762 2,7621 2,5971 2,4715 2,4455 2,3427 2,3422 2,3012 2,2511 2,1990 2,2957
2004 2,8126 2,9085 2,9013 2,9064 3,0982 3,1380 3,0215 3,0235 2,9042 2,8623 2,7991 2,7508
2003 3,2983 3,6580 3,3958 3,1154 2,9306 2,8570 2,8554 2,9930 2,8898 2,8268 2,9418 2,9293
2002 2,3705 2,4380 2,3542 2,3180 2,5117 2,7181 2,8455 3,1912 3,1506 3,8567 3,6797 3,7342
2001 1,9475 1,9812 2,0864 2,1573 2,3384 2,4079 2,5538 2,5005 2,6986 2,7790 2,5299 2,3840
2000 1,7997 1,7764 1,7431 1,7833 1,8382 1,8079 1,8106 1,8056 1,8438 1,8764 1,9441 1,9678
1999 1,4659 1,8984 1,8825 1,6688 1,6570 1,7892 1,8281 1,8711 1,8779 1,9794 1,9331 1,8501
1998 1,1206 1,1276 1,1334 1,1407 1,1472 1,1551 1,1615 1,1716 1,1798 1,1886 1,1915 1,2052
1997 1,0426 1,0495 1,0554 1,0606 1,0678 1,0745 1,0808 1,0873 1,0927 1,0994 1,1082 1,1143
1996 0,97827 0,9829 0,9868 0,9899 0,9957 1,0015 1,0062 1,0122 1,0192 1,0251 1,0305 1,0389
1995 0,847 0,837 0,884 0,905 0,891 0,909 0,926 0,942 0,953 0,958 0,9627 0,9677
1994 381,530 532,660 755,520 1.104,88 1.508,820 2.230,00 0,925 0,906 0,855 0,835 0,838 0,851
1993 14.080,50 18.156,75 22.183,00 28.270,00 36.445,40 47.413,00 62.136,00 80.851,00 108,944 149,260 199,745 270,065
1992 1.179,05 1.467,45 1.768,45 2.196,00 2.612,80 3.144,10 3.789,80 4.620,45 5.697,40 7.118,10 8.872,30 11.066,95
1991 190,47 221,56 229,15 251,37 272,69 296,06 326,53 370,09 425,87 577,23 731,57 945,85
1990 13,735 24,345 38,388 46,853 51,239 55,962 66,531 71,982 75,493 92,477 118,24 151,31
1989 859,25 1,00 1,00 1,00 1,10 1,3480 1,8820 2,4360 3,2190 4,3380 6,0480 9,1770
1988 77,277 90,538 106,80 125,15 148,39 177,05 213,91 264,97 321,35 403,69 519,60 661,37
1987 15,589 17,985 20,729 23,820 30,874 38,097 44,918 46,931 49,719 53,016 58,026 67,423
1986 11.170,00 12.985,00 13,84 13,84 13,84 13,84 13,84 13,84 13,84 13,84 14,09 14,452
1985 3.318,00 3.802,00 4.161,00 4.680,00 5.200,00 5.710,00 6.200,00 6.700,00 7.455,00 8.135,00 8.870,00 9.855,00
1984 1.013,00 1.134,00 1.267,00 1.376,00 1.492,00 1.649,00 1.809,00 1.961,00 2.177,00 2.449,00 2.698,00 3.008,00
1983 260,99 286,54 396,03 434,45 474,29 515,31 565,96 641,02 701,00 780,00 856,00 940,00
1982 129,97 136,75 143,59 150,62 158,36 167,04 176,28 189,90 202,29 214,68 229,60 244,86
1981 67,130 70,510 73,380 79,860 82,940 88,140 93,200 99,110 104,64 110,67 116,91 125,42
1980 43,890 45,310 46,800 49,060 50,135 51,645 53,310 54,805 56,740 58,480 61,355 64,210
1979 21,260 22,250 22,720 23,790 24,775 25,655 26,115 26,810 29,215 30,415 32,040 42,530
1978 16,250 16,495 16,630 17,265 17,370 18,030 18,410 18,685 19,250 19,640 20,050 20,470
1977 12,590 12,870 13,055 13,365 13,700 14,350 14,560 14,810 15,020 15,275 15,535 15,800
1976 9,245 9,420 9,600 10,270 10,550 10,650 10,955 11,170 11,370 11,620 12,055 12,345
1975 7,550 7,620 7,735 7,845 7,975 8,070 8,130 8,285 8,520 8,670 8,775 9,070
1974 6,220 6,340 6,455 6,555 6,555 6,680 6,885 7,020 7,130 7,220 7,325 7,435
1973 6,215 6,030 6,030 6,100 6,100 6,100 6,130 6,130 6,130 6,160 6,160 6,220
1972 5,635 5,785 5,785 5,845 5,915 5,915 5,965 5,965 6,025 6,095 6,130 6,180
1971 4,950 5,030 5,030 5,110 5,195 5,285 5,285 5,405 5,505 5,505 5,635 5,635
1970 4,350 4,410 4,410 4,490 4,490 4,560 4,620 4,650 4,650 4,720 4,810 4,860
Fonte: SRF - Secretaria da Receita Federal

### Data Wrangling

Será necessário realizar a limpeza dos dados, transformá-los em uma estrutura adequada para tratamento, limpeza e organização.

In [8]:
# Realizando a divisão das linhas (Note que o caracter \n divide as linhas)
linhas = hist_dolar.split('\n')
dados_lista = [linha.split() for linha in linhas]
dados_lista

[['Ano/Mês',
  'Janeiro',
  'Fevereiro',
  'Março',
  'Abril',
  'Maio',
  'Junho',
  'Julho',
  'Agosto',
  'Setembro',
  'Outubro',
  'Novembro',
  'Dezembro'],
 ['2023', '5,3183', '5,1146', '5,2243', '5,2981', '4,9455'],
 ['2022',
  '5,7127',
  '5,5349',
  '5,1881',
  '5,1314',
  '4,7158',
  '5,1075',
  '5,1119',
  '5,4014',
  '5,0925',
  '5,2211',
  '5,2824',
  '5,3013'],
 ['2021',
  '5,0968',
  '5,2714',
  '5,3815',
  '5,6296',
  '5,6234',
  '5,2701',
  '5,0874',
  '5,1000',
  '5,2474',
  '5,2576',
  '5,4510',
  '5,4199'],
 ['2020',
  '4,0949',
  '4,1622',
  '4,3163',
  '4,7362',
  '5,2579',
  '5,8229',
  '5,1883',
  '5,3491',
  '5,3852',
  '5,2728',
  '5,6172',
  '5,4854'],
 ['2019',
  '3,909',
  '3,7049',
  '3,7155',
  '3,8344',
  '3,8730',
  '4,0031',
  '3,8813',
  '3,7463',
  '4,0188',
  '4,0616',
  '4,1488',
  '4,1831'],
 ['2018',
  '3,3182',
  '3,1963',
  '3,2208',
  '3,2859',
  '3,4105',
  '3,6753',
  '3,7738',
  '3,8745',
  '3,9134',
  '4,1879',
  '3,7332',
  '3,7924'],
 ['2017',
  '3,3830',
  '3,2034',
  '3,0779',
  '3,1629',
  '3,1269',
  '3,1011',
  '3,2836',
  '3,1899',
  '3,1976',
  '3,1255',
  '3,1572',
  '3,2834'],
 ['2016',
  '3,8711',
  '3,9885',
  '3,7116',
  '3,5276',
  '3,5041',
  '3,4768',
  '3,2656',
  '3,1672',
  '3,3326',
  '3,1864',
  '3,4446',
  '3,3830'],
 ['2015',
  '2,6122',
  '2,8392',
  '3,2264',
  '3,0681',
  '2,9894',
  '3,1036',
  '3,1532',
  '3,4761',
  '3,8599',
  '3,8344',
  '3,8023',
  '3,8703'],
 ['2014',
  '2,3470',
  '2,3924',
  '2,3638',
  '2,2257',
  '2,2166',
  '2,2347',
  '2,2195',
  '2,2690',
  '2,3401',
  '2,4316',
  '2,6136',
  '2,6717'],
 ['2013',
  '2,0374',
  '1,9600',
  '1,9749',
  '1,9790',
  '2,0233',
  '2,1367',
  '2,2548',
  '2,3434',
  '2,2785',
  '2,1818',
  '2,3289',
  '2,3354'],
 ['2012',
  '1,7853',
  '1,7158',
  '1,8006',
  '1,8364',
  '1,9947',
  '2,0443',
  '2,0338',
  '2,0234',
  '2,0139',
  '2,0382',
  '2,0629',
  '2,0840'],
 ['2011',
  '1,6843',
  '1,6682',
  '1,6692',
  '1,5776',
  '1,6328',
  '1,5960',
  '1,5743',
  '1,5956',
  '1,7106',
  '1,7376',
  '1,7649',
  '1,8609'],
 ['2010',
  '1,7711',
  '1,8670',
  '1,7644',
  '1,7483',
  '1,7967',
  '1,7971',
  '1,7690',
  '1,7716',
  '1,7169',
  '1,6604',
  '1,7198',
  '1,6988'],
 ['2009',
  '2,3803',
  '2,2680',
  '2,3012',
  '2,1992',
  '2,0762',
  '1,9458',
  '1,9420',
  '1,8385',
  '1,8087',
  '1,7037',
  '1,7290',
  '1,7557'],
 ['2008',
  '1,7450',
  '1,7541',
  '1,6947',
  '1,6822',
  '1,6601',
  '1,6368',
  '1,5910',
  '1,6389',
  '1,8125',
  '2,1551',
  '2,2800',
  '2,3690'],
 ['2007',
  '2,1407',
  '2,0896',
  '2,0909',
  '2,0231',
  '1,9922',
  '1,9097',
  '1,8684',
  '2,0043',
  '1,9031',
  '1,8078',
  '1,7378',
  '1,7959'],
 ['2006',
  '2,2747',
  '2,1375',
  '2,1215',
  '2,1426',
  '2,1774',
  '2,2845',
  '2,2130',
  '2.1480',
  '2,1540',
  '2,1419',
  '2,1537',
  '2,1470'],
 ['2005',
  '2,7074',
  '2,5762',
  '2,7621',
  '2,5971',
  '2,4715',
  '2,4455',
  '2,3427',
  '2,3422',
  '2,3012',
  '2,2511',
  '2,1990',
  '2,2957'],
 ['2004',
  '2,8126',
  '2,9085',
  '2,9013',
  '2,9064',
  '3,0982',
  '3,1380',
  '3,0215',
  '3,0235',
  '2,9042',
  '2,8623',
  '2,7991',
  '2,7508'],
 ['2003',
  '3,2983',
  '3,6580',
  '3,3958',
  '3,1154',
  '2,9306',
  '2,8570',
  '2,8554',
  '2,9930',
  '2,8898',
  '2,8268',
  '2,9418',
  '2,9293'],
 ['2002',
  '2,3705',
  '2,4380',
  '2,3542',
  '2,3180',
  '2,5117',
  '2,7181',
  '2,8455',
  '3,1912',
  '3,1506',
  '3,8567',
  '3,6797',
  '3,7342'],
 ['2001',
  '1,9475',
  '1,9812',
  '2,0864',
  '2,1573',
  '2,3384',
  '2,4079',
  '2,5538',
  '2,5005',
  '2,6986',
  '2,7790',
  '2,5299',
  '2,3840'],
 ['2000',
  '1,7997',
  '1,7764',
  '1,7431',
  '1,7833',
  '1,8382',
  '1,8079',
  '1,8106',
  '1,8056',
  '1,8438',
  '1,8764',
  '1,9441',
  '1,9678'],
 ['1999',
  '1,4659',
  '1,8984',
  '1,8825',
  '1,6688',
  '1,6570',
  '1,7892',
  '1,8281',
  '1,8711',
  '1,8779',
  '1,9794',
  '1,9331',
  '1,8501'],
 ['1998',
  '1,1206',
  '1,1276',
  '1,1334',
  '1,1407',
  '1,1472',
  '1,1551',
  '1,1615',
  '1,1716',
  '1,1798',
  '1,1886',
  '1,1915',
  '1,2052'],
 ['1997',
  '1,0426',
  '1,0495',
  '1,0554',
  '1,0606',
  '1,0678',
  '1,0745',
  '1,0808',
  '1,0873',
  '1,0927',
  '1,0994',
  '1,1082',
  '1,1143'],
 ['1996',
  '0,97827',
  '0,9829',
  '0,9868',
  '0,9899',
  '0,9957',
  '1,0015',
  '1,0062',
  '1,0122',
  '1,0192',
  '1,0251',
  '1,0305',
  '1,0389'],
 ['1995',
  '0,847',
  '0,837',
  '0,884',
  '0,905',
  '0,891',
  '0,909',
  '0,926',
  '0,942',
  '0,953',
  '0,958',
  '0,9627',
  '0,9677'],
 ['1994',
  '381,530',
  '532,660',
  '755,520',
  '1.104,88',
  '1.508,820',
  '2.230,00',
  '0,925',
  '0,906',
  '0,855',
  '0,835',
  '0,838',
  '0,851'],
 ['1993',
  '14.080,50',
  '18.156,75',
  '22.183,00',
  '28.270,00',
  '36.445,40',
  '47.413,00',
  '62.136,00',
  '80.851,00',
  '108,944',
  '149,260',
  '199,745',
  '270,065'],
 ['1992',
  '1.179,05',
  '1.467,45',
  '1.768,45',
  '2.196,00',
  '2.612,80',
  '3.144,10',
  '3.789,80',
  '4.620,45',
  '5.697,40',
  '7.118,10',
  '8.872,30',
  '11.066,95'],
 ['1991',
  '190,47',
  '221,56',
  '229,15',
  '251,37',
  '272,69',
  '296,06',
  '326,53',
  '370,09',
  '425,87',
  '577,23',
  '731,57',
  '945,85'],
 ['1990',
  '13,735',
  '24,345',
  '38,388',
  '46,853',
  '51,239',
  '55,962',
  '66,531',
  '71,982',
  '75,493',
  '92,477',
  '118,24',
  '151,31'],
 ['1989',
  '859,25',
  '1,00',
  '1,00',
  '1,00',
  '1,10',
  '1,3480',
  '1,8820',
  '2,4360',
  '3,2190',
  '4,3380',
  '6,0480',
  '9,1770'],
 ['1988',
  '77,277',
  '90,538',
  '106,80',
  '125,15',
  '148,39',
  '177,05',
  '213,91',
  '264,97',
  '321,35',
  '403,69',
  '519,60',
  '661,37'],
 ['1987',
  '15,589',
  '17,985',
  '20,729',
  '23,820',
  '30,874',
  '38,097',
  '44,918',
  '46,931',
  '49,719',
  '53,016',
  '58,026',
  '67,423'],
 ['1986',
  '11.170,00',
  '12.985,00',
  '13,84',
  '13,84',
  '13,84',
  '13,84',
  '13,84',
  '13,84',
  '13,84',
  '13,84',
  '14,09',
  '14,452'],
 ['1985',
  '3.318,00',
  '3.802,00',
  '4.161,00',
  '4.680,00',
  '5.200,00',
  '5.710,00',
  '6.200,00',
  '6.700,00',
  '7.455,00',
  '8.135,00',
  '8.870,00',
  '9.855,00'],
 ['1984',
  '1.013,00',
  '1.134,00',
  '1.267,00',
  '1.376,00',
  '1.492,00',
  '1.649,00',
  '1.809,00',
  '1.961,00',
  '2.177,00',
  '2.449,00',
  '2.698,00',
  '3.008,00'],
 ['1983',
  '260,99',
  '286,54',
  '396,03',
  '434,45',
  '474,29',
  '515,31',
  '565,96',
  '641,02',
  '701,00',
  '780,00',
  '856,00',
  '940,00'],
 ['1982',
  '129,97',
  '136,75',
  '143,59',
  '150,62',
  '158,36',
  '167,04',
  '176,28',
  '189,90',
  '202,29',
  '214,68',
  '229,60',
  '244,86'],
 ['1981',
  '67,130',
  '70,510',
  '73,380',
  '79,860',
  '82,940',
  '88,140',
  '93,200',
  '99,110',
  '104,64',
  '110,67',
  '116,91',
  '125,42'],
 ['1980',
  '43,890',
  '45,310',
  '46,800',
  '49,060',
  '50,135',
  '51,645',
  '53,310',
  '54,805',
  '56,740',
  '58,480',
  '61,355',
  '64,210'],
 ['1979',
  '21,260',
  '22,250',
  '22,720',
  '23,790',
  '24,775',
  '25,655',
  '26,115',
  '26,810',
  '29,215',
  '30,415',
  '32,040',
  '42,530'],
 ['1978',
  '16,250',
  '16,495',
  '16,630',
  '17,265',
  '17,370',
  '18,030',
  '18,410',
  '18,685',
  '19,250',
  '19,640',
  '20,050',
  '20,470'],
 ['1977',
  '12,590',
  '12,870',
  '13,055',
  '13,365',
  '13,700',
  '14,350',
  '14,560',
  '14,810',
  '15,020',
  '15,275',
  '15,535',
  '15,800'],
 ['1976',
  '9,245',
  '9,420',
  '9,600',
  '10,270',
  '10,550',
  '10,650',
  '10,955',
  '11,170',
  '11,370',
  '11,620',
  '12,055',
  '12,345'],
 ['1975',
  '7,550',
  '7,620',
  '7,735',
  '7,845',
  '7,975',
  '8,070',
  '8,130',
  '8,285',
  '8,520',
  '8,670',
  '8,775',
  '9,070'],
 ['1974',
  '6,220',
  '6,340',
  '6,455',
  '6,555',
  '6,555',
  '6,680',
  '6,885',
  '7,020',
  '7,130',
  '7,220',
  '7,325',
  '7,435'],
 ['1973',
  '6,215',
  '6,030',
  '6,030',
  '6,100',
  '6,100',
  '6,100',
  '6,130',
  '6,130',
  '6,130',
  '6,160',
  '6,160',
  '6,220'],
 ['1972',
  '5,635',
  '5,785',
  '5,785',
  '5,845',
  '5,915',
  '5,915',
  '5,965',
  '5,965',
  '6,025',
  '6,095',
  '6,130',
  '6,180'],
 ['1971',
  '4,950',
  '5,030',
  '5,030',
  '5,110',
  '5,195',
  '5,285',
  '5,285',
  '5,405',
  '5,505',
  '5,505',
  '5,635',
  '5,635'],
 ['1970',
  '4,350',
  '4,410',
  '4,410',
  '4,490',
  '4,490',
  '4,560',
  '4,620',
  '4,650',
  '4,650',
  '4,720',
  '4,810',
  '4,860'],
 ['Fonte:', 'SRF', '-', 'Secretaria', 'da', 'Receita', 'Federal']]

In [285]:
df = pd.DataFrame(dados_lista)
display(df)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Ano/Mês,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
1,2023,"5,3183","5,1146","5,2243","5,2981","4,9455",None,None,None,None,None,None,None
2,2022,"5,7127","5,5349","5,1881","5,1314","4,7158","5,1075","5,1119","5,4014","5,0925","5,2211","5,2824","5,3013"
3,2021,"5,0968","5,2714","5,3815","5,6296","5,6234","5,2701","5,0874","5,1000","5,2474","5,2576","5,4510","5,4199"
4,2020,"4,0949","4,1622","4,3163","4,7362","5,2579","5,8229","5,1883","5,3491","5,3852","5,2728","5,6172","5,4854"
5,2019,"3,909","3,7049","3,7155","3,8344","3,8730","4,0031","3,8813","3,7463","4,0188","4,0616","4,1488","4,1831"
6,2018,"3,3182","3,1963","3,2208","3,2859","3,4105","3,6753","3,7738","3,8745","3,9134","4,1879","3,7332","3,7924"
7,2017,"3,3830","3,2034","3,0779","3,1629","3,1269","3,1011","3,2836","3,1899","3,1976","3,1255","3,1572","3,2834"
8,2016,"3,8711","3,9885","3,7116","3,5276","3,5041","3,4768","3,2656","3,1672","3,3326","3,1864","3,4446","3,3830"
9,2015,"2,6122","2,8392","3,2264","3,0681","2,9894","3,1036","3,1532","3,4761","3,8599","3,8344","3,8023","3,8703"
10,2014,"2,3470","2,3924","2,3638","2,2257","2,2166","2,2347","2,2195","2,2690","2,3401","2,4316","2,6136","2,6717"
11,2013,"2,0374","1,9600","1,9749","1,9790","2,0233","2,1367","2,2548","2,3434","2,2785","2,1818","2,3289","2,3354"
12,2012,"1,7853","1,7158","1,8006","1,8364","1,9947","2,0443","2,0338","2,0234","2,0139","2,0382","2,0629","2,0840"
13,2011,"1,6843","1,6682","1,6692","1,5776","1,6328","1,5960","1,5743","1,5956","1,7106","1,7376","1,7649","1,8609"
14,2010,"1,7711","1,8670","1,7644","1,7483","1,7967","1,7971","1,7690","1,7716","1,7169","1,6604","1,7198","1,6988"
15,2009,"2,3803","2,2680","2,3012","2,1992","2,0762","1,9458","1,9420","1,8385","1,8087","1,7037","1,7290","1,7557"
16,2008,"1,7450","1,7541","1,6947","1,6822","1,6601","1,6368","1,5910","1,6389","1,8125","2,1551","2,2800","2,3690"
17,2007,"2,1407","2,0896","2,0909","2,0231","1,9922","1,9097","1,8684","2,0043","1,9031","1,8078","1,7378","1,7959"
18,2006,"2,2747","2,1375","2,1215","2,1426","2,1774","2,2845","2,2130",2.1480,"2,1540","2,1419","2,1537","2,1470"
19,2005,"2,7074","2,5762","2,7621","2,5971","2,4715","2,4455","2,3427","2,3422","2,3012","2,2511","2,1990","2,2957"
20,2004,"2,8126","2,9085","2,9013","2,9064","3,0982","3,1380","3,0215","3,0235","2,9042","2,8623","2,7991","2,7508"
21,2003,"3,2983","3,6580","3,3958","3,1154","2,9306","2,8570","2,8554","2,9930","2,8898","2,8268","2,9418","2,9293"
22,2002,"2,3705","2,4380","2,3542","2,3180","2,5117","2,7181","2,8455","3,1912","3,1506","3,8567","3,6797","3,7342"
23,2001,"1,9475","1,9812","2,0864","2,1573","2,3384","2,4079","2,5538","2,5005","2,6986","2,7790","2,5299","2,3840"
24,2000,"1,7997","1,7764","1,7431","1,7833","1,8382","1,8079","1,8106","1,8056","1,8438","1,8764","1,9441","1,9678"
25,1999,"1,4659","1,8984","1,8825","1,6688","1,6570","1,7892","1,8281","1,8711","1,8779","1,9794","1,9331","1,8501"
26,1998,"1,1206","1,1276","1,1334","1,1407","1,1472","1,1551","1,1615","1,1716","1,1798","1,1886","1,1915","1,2052"
27,1997,"1,0426","1,0495","1,0554","1,0606","1,0678","1,0745","1,0808","1,0873","1,0927","1,0994","1,1082","1,1143"
28,1996,"0,97827","0,9829","0,9868","0,9899","0,9957","1,0015","1,0062","1,0122","1,0192","1,0251","1,0305","1,0389"
29,1995,"0,847","0,837","0,884","0,905","0,891","0,909","0,926","0,942","0,953","0,958","0,9627","0,9677"
30,1994,"381,530","532,660","755,520","1.104,88","1.508,820","2.230,00","0,925","0,906","0,855","0,835","0,838","0,851"
31,1993,"14.080,50","18.156,75","22.183,00","28.270,00","36.445,40","47.413,00","62.136,00","80.851,00","108,944","149,260","199,745","270,065"
32,1992,"1.179,05","1.467,45","1.768,45","2.196,00","2.612,80","3.144,10","3.789,80","4.620,45","5.697,40","7.118,10","8.872,30","11.066,95"
33,1991,"190,47","221,56","229,15","251,37","272,69","296,06","326,53","370,09","425,87","577,23","731,57","945,85"
34,1990,"13,735","24,345","38,388","46,853","51,239","55,962","66,531","71,982","75,493","92,477","118,24","151,31"
35,1989,"859,25","1,00","1,00","1,00","1,10","1,3480","1,8820","2,4360","3,2190","4,3380","6,0480","9,1770"
36,1988,"77,277","90,538","106,80","125,15","148,39","177,05","213,91","264,97","321,35","403,69","519,60","661,37"
37,1987,"15,589","17,985","20,729","23,820","30,874","38,097","44,918","46,931","49,719","53,016","58,026","67,423"
38,1986,"11.170,00","12.985,00","13,84","13,84","13,84","13,84","13,84","13,84","13,84","13,84","14,09","14,452"
39,1985,"3.318,00","3.802,00","4.161,00","4.680,00","5.200,00","5.710,00","6.200,00","6.700,00","7.455,00","8.135,00","8.870,00","9.855,00"
40,1984,"1.013,00","1.134,00","1.267,00","1.376,00","1.492,00","1.649,00","1.809,00","1.961,00","2.177,00","2.449,00","2.698,00","3.008,00"
41,1983,"260,99","286,54","396,03","434,45","474,29","515,31","565,96","641,02","701,00","780,00","856,00","940,00"
42,1982,"129,97","136,75","143,59","150,62","158,36","167,04","176,28","189,90","202,29","214,68","229,60","244,86"
43,1981,"67,130","70,510","73,380","79,860","82,940","88,140","93,200","99,110","104,64","110,67","116,91","125,42"
44,1980,"43,890","45,310","46,800","49,060","50,135","51,645","53,310","54,805","56,740","58,480","61,355","64,210"
45,1979,"21,260","22,250","22,720","23,790","24,775","25,655","26,115","26,810","29,215","30,415","32,040","42,530"
46,1978,"16,250","16,495","16,630","17,265","17,370","18,030","18,410","18,685","19,250","19,640","20,050","20,470"
47,1977,"12,590","12,870","13,055","13,365","13,700","14,350","14,560","14,810","15,020","15,275","15,535","15,800"
48,1976,"9,245","9,420","9,600","10,270","10,550","10,650","10,955","11,170","11,370","11,620","12,055","12,345"
49,1975,"7,550","7,620","7,735","7,845","7,975","8,070","8,130","8,285","8,520","8,670","8,775","9,070"
50,1974,"6,220","6,340","6,455","6,555","6,555","6,680","6,885","7,020","7,130","7,220","7,325","7,435"
51,1973,"6,215","6,030","6,030","6,100","6,100","6,100","6,130","6,130","6,130","6,160","6,160","6,220"
52,1972,"5,635","5,785","5,785","5,845","5,915","5,915","5,965","5,965","6,025","6,095","6,130","6,180"
53,1971,"4,950","5,030","5,030","5,110","5,195","5,285","5,285","5,405","5,505","5,505","5,635","5,635"
54,1970,"4,350","4,410","4,410","4,490","4,490","4,560","4,620","4,650","4,650","4,720","4,810","4,860"
55,Fonte:,SRF,-,Secretaria,da,Receita,Federal,None,None,None,None,None,None

In [286]:
# Selecionar a primeira linha do próprio df como sendo o cabeçalho
df.set_axis(df.iloc[0], axis=1, inplace=True)
df = df[1:]
df

,Ano/Mês,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
1,2023,"5,3183","5,1146","5,2243","5,2981","4,9455",None,None,None,None,None,None,None
2,2022,"5,7127","5,5349","5,1881","5,1314","4,7158","5,1075","5,1119","5,4014","5,0925","5,2211","5,2824","5,3013"
3,2021,"5,0968","5,2714","5,3815","5,6296","5,6234","5,2701","5,0874","5,1000","5,2474","5,2576","5,4510","5,4199"
4,2020,"4,0949","4,1622","4,3163","4,7362","5,2579","5,8229","5,1883","5,3491","5,3852","5,2728","5,6172","5,4854"
5,2019,"3,909","3,7049","3,7155","3,8344","3,8730","4,0031","3,8813","3,7463","4,0188","4,0616","4,1488","4,1831"
6,2018,"3,3182","3,1963","3,2208","3,2859","3,4105","3,6753","3,7738","3,8745","3,9134","4,1879","3,7332","3,7924"
7,2017,"3,3830","3,2034","3,0779","3,1629","3,1269","3,1011","3,2836","3,1899","3,1976","3,1255","3,1572","3,2834"
8,2016,"3,8711","3,9885","3,7116","3,5276","3,5041","3,4768","3,2656","3,1672","3,3326","3,1864","3,4446","3,3830"
9,2015,"2,6122","2,8392","3,2264","3,0681","2,9894","3,1036","3,1532","3,4761","3,8599","3,8344","3,8023","3,8703"
10,2014,"2,3470","2,3924","2,3638","2,2257","2,2166","2,2347","2,2195","2,2690","2,3401","2,4316","2,6136","2,6717"
11,2013,"2,0374","1,9600","1,9749","1,9790","2,0233","2,1367","2,2548","2,3434","2,2785","2,1818","2,3289","2,3354"
12,2012,"1,7853","1,7158","1,8006","1,8364","1,9947","2,0443","2,0338","2,0234","2,0139","2,0382","2,0629","2,0840"
13,2011,"1,6843","1,6682","1,6692","1,5776","1,6328","1,5960","1,5743","1,5956","1,7106","1,7376","1,7649","1,8609"
14,2010,"1,7711","1,8670","1,7644","1,7483","1,7967","1,7971","1,7690","1,7716","1,7169","1,6604","1,7198","1,6988"
15,2009,"2,3803","2,2680","2,3012","2,1992","2,0762","1,9458","1,9420","1,8385","1,8087","1,7037","1,7290","1,7557"
16,2008,"1,7450","1,7541","1,6947","1,6822","1,6601","1,6368","1,5910","1,6389","1,8125","2,1551","2,2800","2,3690"
17,2007,"2,1407","2,0896","2,0909","2,0231","1,9922","1,9097","1,8684","2,0043","1,9031","1,8078","1,7378","1,7959"
18,2006,"2,2747","2,1375","2,1215","2,1426","2,1774","2,2845","2,2130",2.1480,"2,1540","2,1419","2,1537","2,1470"
19,2005,"2,7074","2,5762","2,7621","2,5971","2,4715","2,4455","2,3427","2,3422","2,3012","2,2511","2,1990","2,2957"
20,2004,"2,8126","2,9085","2,9013","2,9064","3,0982","3,1380","3,0215","3,0235","2,9042","2,8623","2,7991","2,7508"
21,2003,"3,2983","3,6580","3,3958","3,1154","2,9306","2,8570","2,8554","2,9930","2,8898","2,8268","2,9418","2,9293"
22,2002,"2,3705","2,4380","2,3542","2,3180","2,5117","2,7181","2,8455","3,1912","3,1506","3,8567","3,6797","3,7342"
23,2001,"1,9475","1,9812","2,0864","2,1573","2,3384","2,4079","2,5538","2,5005","2,6986","2,7790","2,5299","2,3840"
24,2000,"1,7997","1,7764","1,7431","1,7833","1,8382","1,8079","1,8106","1,8056","1,8438","1,8764","1,9441","1,9678"
25,1999,"1,4659","1,8984","1,8825","1,6688","1,6570","1,7892","1,8281","1,8711","1,8779","1,9794","1,9331","1,8501"
26,1998,"1,1206","1,1276","1,1334","1,1407","1,1472","1,1551","1,1615","1,1716","1,1798","1,1886","1,1915","1,2052"
27,1997,"1,0426","1,0495","1,0554","1,0606","1,0678","1,0745","1,0808","1,0873","1,0927","1,0994","1,1082","1,1143"
28,1996,"0,97827","0,9829","0,9868","0,9899","0,9957","1,0015","1,0062","1,0122","1,0192","1,0251","1,0305","1,0389"
29,1995,"0,847","0,837","0,884","0,905","0,891","0,909","0,926","0,942","0,953","0,958","0,9627","0,9677"
30,1994,"381,530","532,660","755,520","1.104,88","1.508,820","2.230,00","0,925","0,906","0,855","0,835","0,838","0,851"
31,1993,"14.080,50","18.156,75","22.183,00","28.270,00","36.445,40","47.413,00","62.136,00","80.851,00","108,944","149,260","199,745","270,065"
32,1992,"1.179,05","1.467,45","1.768,45","2.196,00","2.612,80","3.144,10","3.789,80","4.620,45","5.697,40","7.118,10","8.872,30","11.066,95"
33,1991,"190,47","221,56","229,15","251,37","272,69","296,06","326,53","370,09","425,87","577,23","731,57","945,85"
34,1990,"13,735","24,345","38,388","46,853","51,239","55,962","66,531","71,982","75,493","92,477","118,24","151,31"
35,1989,"859,25","1,00","1,00","1,00","1,10","1,3480","1,8820","2,4360","3,2190","4,3380","6,0480","9,1770"
36,1988,"77,277","90,538","106,80","125,15","148,39","177,05","213,91","264,97","321,35","403,69","519,60","661,37"
37,1987,"15,589","17,985","20,729","23,820","30,874","38,097","44,918","46,931","49,719","53,016","58,026","67,423"
38,1986,"11.170,00","12.985,00","13,84","13,84","13,84","13,84","13,84","13,84","13,84","13,84","14,09","14,452"
39,1985,"3.318,00","3.802,00","4.161,00","4.680,00","5.200,00","5.710,00","6.200,00","6.700,00","7.455,00","8.135,00","8.870,00","9.855,00"
40,1984,"1.013,00","1.134,00","1.267,00","1.376,00","1.492,00","1.649,00","1.809,00","1.961,00","2.177,00","2.449,00","2.698,00","3.008,00"
41,1983,"260,99","286,54","396,03","434,45","474,29","515,31","565,96","641,02","701,00","780,00","856,00","940,00"
42,1982,"129,97","136,75","143,59","150,62","158,36","167,04","176,28","189,90","202,29","214,68","229,60","244,86"
43,1981,"67,130","70,510","73,380","79,860","82,940","88,140","93,200","99,110","104,64","110,67","116,91","125,42"
44,1980,"43,890","45,310","46,800","49,060","50,135","51,645","53,310","54,805","56,740","58,480","61,355","64,210"
45,1979,"21,260","22,250","22,720","23,790","24,775","25,655","26,115","26,810","29,215","30,415","32,040","42,530"
46,1978,"16,250","16,495","16,630","17,265","17,370","18,030","18,410","18,685","19,250","19,640","20,050","20,470"
47,1977,"12,590","12,870","13,055","13,365","13,700","14,350","14,560","14,810","15,020","15,275","15,535","15,800"
48,1976,"9,245","9,420","9,600","10,270","10,550","10,650","10,955","11,170","11,370","11,620","12,055","12,345"
49,1975,"7,550","7,620","7,735","7,845","7,975","8,070","8,130","8,285","8,520","8,670","8,775","9,070"
50,1974,"6,220","6,340","6,455","6,555","6,555","6,680","6,885","7,020","7,130","7,220","7,325","7,435"
51,1973,"6,215","6,030","6,030","6,100","6,100","6,100","6,130","6,130","6,130","6,160","6,160","6,220"
52,1972,"5,635","5,785","5,785","5,845","5,915","5,915","5,965","5,965","6,025","6,095","6,130","6,180"
53,1971,"4,950","5,030","5,030","5,110","5,195","5,285","5,285","5,405","5,505","5,505","5,635","5,635"
54,1970,"4,350","4,410","4,410","4,490","4,490","4,560","4,620","4,650","4,650","4,720","4,810","4,860"
55,Fonte:,SRF,-,Secretaria,da,Receita,Federal,None,None,None,None,None,None

In [287]:
# Alterando os nomes dos cabeçalhos
df = df.rename(columns={'Ano/Mês':'Ano','Março':'Marco'})
df.head(5)

,Ano,Janeiro,Fevereiro,Marco,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
1,2023,"5,3183","5,1146","5,2243","5,2981","4,9455",None,None,None,None,None,None,None
2,2022,"5,7127","5,5349","5,1881","5,1314","4,7158","5,1075","5,1119","5,4014","5,0925","5,2211","5,2824","5,3013"
3,2021,"5,0968","5,2714","5,3815","5,6296","5,6234","5,2701","5,0874","5,1000","5,2474","5,2576","5,4510","5,4199"
4,2020,"4,0949","4,1622","4,3163","4,7362","5,2579","5,8229","5,1883","5,3491","5,3852","5,2728","5,6172","5,4854"
5,2019,"3,909","3,7049","3,7155","3,8344","3,8730","4,0031","3,8813","3,7463","4,0188","4,0616","4,1488","4,1831"

In [288]:
# Alterar o formato dos valores (Vírgula > Ponto)
df = df.replace(',','.', regex=True)
display(df.head(10))

,Ano,Janeiro,Fevereiro,Marco,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
1,2023,5.3183,5.1146,5.2243,5.2981,4.9455,None,None,None,None,None,None,None
2,2022,5.7127,5.5349,5.1881,5.1314,4.7158,5.1075,5.1119,5.4014,5.0925,5.2211,5.2824,5.3013
3,2021,5.0968,5.2714,5.3815,5.6296,5.6234,5.2701,5.0874,5.1000,5.2474,5.2576,5.4510,5.4199
4,2020,4.0949,4.1622,4.3163,4.7362,5.2579,5.8229,5.1883,5.3491,5.3852,5.2728,5.6172,5.4854
5,2019,3.909,3.7049,3.7155,3.8344,3.8730,4.0031,3.8813,3.7463,4.0188,4.0616,4.1488,4.1831
6,2018,3.3182,3.1963,3.2208,3.2859,3.4105,3.6753,3.7738,3.8745,3.9134,4.1879,3.7332,3.7924
7,2017,3.3830,3.2034,3.0779,3.1629,3.1269,3.1011,3.2836,3.1899,3.1976,3.1255,3.1572,3.2834
8,2016,3.8711,3.9885,3.7116,3.5276,3.5041,3.4768,3.2656,3.1672,3.3326,3.1864,3.4446,3.3830
9,2015,2.6122,2.8392,3.2264,3.0681,2.9894,3.1036,3.1532,3.4761,3.8599,3.8344,3.8023,3.8703
10,2014,2.3470,2.3924,2.3638,2.2257,2.2166,2.2347,2.2195,2.2690,2.3401,2.4316,2.6136,2.6717

In [289]:
# Verificando o tipo de dado das demais variáveis
df.dtypes

0
Ano          object
Janeiro      object
Fevereiro    object
Marco        object
Abril        object
Maio         object
Junho        object
Julho        object
Agosto       object
Setembro     object
Outubro      object
Novembro     object
Dezembro     object
dtype: object

In [290]:
# Verificando as últimas observações
df.tail(5)

,Ano,Janeiro,Fevereiro,Marco,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
51,1973,6.215,6.030,6.030,6.100,6.100,6.100,6.130,6.130,6.130,6.160,6.160,6.220
52,1972,5.635,5.785,5.785,5.845,5.915,5.915,5.965,5.965,6.025,6.095,6.130,6.180
53,1971,4.950,5.030,5.030,5.110,5.195,5.285,5.285,5.405,5.505,5.505,5.635,5.635
54,1970,4.350,4.410,4.410,4.490,4.490,4.560,4.620,4.650,4.650,4.720,4.810,4.860
55,Fonte:,SRF,-,Secretaria,da,Receita,Federal,None,None,None,None,None,None

In [291]:
# Excluíndo a última linha
df = df.drop(55, axis=0)

In [292]:
# Filtrando a base até o ano de > 1994
linha_ref = df[df['Ano'] == '1994'].index[0] - 1

df = df.iloc[:linha_ref,:]

In [294]:
df.tail(5)

,Ano,Janeiro,Fevereiro,Marco,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
25,1999,1.4659,1.8984,1.8825,1.6688,1.6570,1.7892,1.8281,1.8711,1.8779,1.9794,1.9331,1.8501
26,1998,1.1206,1.1276,1.1334,1.1407,1.1472,1.1551,1.1615,1.1716,1.1798,1.1886,1.1915,1.2052
27,1997,1.0426,1.0495,1.0554,1.0606,1.0678,1.0745,1.0808,1.0873,1.0927,1.0994,1.1082,1.1143
28,1996,0.97827,0.9829,0.9868,0.9899,0.9957,1.0015,1.0062,1.0122,1.0192,1.0251,1.0305,1.0389
29,1995,0.847,0.837,0.884,0.905,0.891,0.909,0.926,0.942,0.953,0.958,0.9627,0.9677

In [297]:
# Transformando os dados em float
df = df.astype(np.float32, copy = False)
df.dtypes

0
Ano          float32
Janeiro      float32
Fevereiro    float32
Marco        float32
Abril        float32
Maio         float32
Junho        float32
Julho        float32
Agosto       float32
Setembro     float32
Outubro      float32
Novembro     float32
Dezembro     float32
dtype: object

In [309]:
# Alterando o tipo de dado da variável 'Ano' para inteiro
df['Ano'] = df['Ano'].astype(np.int64, copy = False)
df.dtypes

0
Ano            int64
Janeiro      float32
Fevereiro    float32
Marco        float32
Abril        float32
Maio         float32
Junho        float32
Julho        float32
Agosto       float32
Setembro     float32
Outubro      float32
Novembro     float32
Dezembro     float32
dtype: object

In [299]:
# Alterando a quantidade de casas decimais
df = round(df,ndigits=2)
df.head(5)

,Ano,Janeiro,Fevereiro,Marco,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
1,2023,5.32,5.11,5.22,5.30,4.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,5.71,5.53,5.19,5.13,4.72,5.11,5.11,5.40,5.09,5.22,5.28,5.30
3,2021,5.10,5.27,5.38,5.63,5.62,5.27,5.09,5.10,5.25,5.26,5.45,5.42
4,2020,4.09,4.16,4.32,4.74,5.26,5.82,5.19,5.35,5.39,5.27,5.62,5.49
5,2019,3.91,3.70,3.72,3.83,3.87,4.00,3.88,3.75,4.02,4.06,4.15,4.18

In [300]:
# Nome das variáveis (colunas)
df.columns

Index(['Ano', 'Janeiro', 'Fevereiro', 'Marco', 'Abril', 'Maio', 'Junho',
       'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      dtype='object', name=0)

In [301]:
# Dimensões do DataFrame
df.shape

(29, 13)

In [302]:
# Verificando a quantidade de valores vazios por variável
df.isnull().sum()

0
Ano          0
Janeiro      0
Fevereiro    0
Marco        0
Abril        0
Maio         0
Junho        1
Julho        1
Agosto       1
Setembro     1
Outubro      1
Novembro     1
Dezembro     1
dtype: int64